## 딕셔너리

* 딕셔너리는 순서가 없는 자료형입니다.
* 키와 값으로 이뤄져 있습니다.
* 값에 변경이 가능합니다.
* 다른 자료형을 입력할 수 있습니다.
* 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [1]:
d = {'one':'하나', 'two':'둘', 'three':'셋', 'two':'둘', 'three':'셋'}
d
# d['one']
# d['one'] = 1
# d

{'one': 1, 'two': '둘', 'three': '셋'}

In [2]:
d = {}
type(d)

dict

In [3]:
d = {10}
type(d)

set

In [1]:
d = dict()
d

{}

In [2]:
dict('leehojun')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [3]:
dict([('one', '하나'), ('two', '둘')])

{'one': '하나', 'two': '둘'}

In [4]:
dict(name='leehojun', age=10)

{'name': 'leehojun', 'age': 10}

In [5]:
list(zip('ABC', '123', 'abc'))

[('A', '1', 'a'), ('B', '2', 'b'), ('C', '3', 'c')]

In [7]:
dict(zip('ABC', '123'))

{'A': '1', 'B': '2', 'C': '3'}

In [9]:
d = {'one':'하나', 'two':'둘', 'three':'셋'}
print('하나' in d)
print('one' in d)

False

In [10]:
print(d)
print(type(d))
print(dir(d))

{'one': '하나', 'two': '둘', 'three': '셋'}
<class 'dict'>
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [24]:
d.keys()
d.values()
print(d.items())
d.get('one')

dict_items([('two', 2), ('three', '셋')])

In [11]:
def switch(x):
    return{1:'Mon',
           2:'Tue',
           3:'Wed',
           4:'Thu',
           }.get(x)

print(switch(3))

Wed

In [13]:
dict.fromkeys('leehojun')

{'l': None, 'e': None, 'h': None, 'o': None, 'j': None, 'u': None, 'n': None}

In [14]:
dict.fromkeys('leehojun', 100)

{'l': 100, 'e': 100, 'h': 100, 'o': 100, 'j': 100, 'u': 100, 'n': 100}

In [16]:
keys = ('name', 'age', 'grade')
values = ('leehojun', '10', '수')
dict.fromkeys(keys, 100)
dict.fromkeys(keys, values)

{'name': ('leehojun', '10', '수'),
 'age': ('leehojun', '10', '수'),
 'grade': ('leehojun', '10', '수')}

In [17]:
d = {'one':'하나', 'two':'둘', 'three':'셋'}
d.update({'one':1, 'two':2})
d

{'one': 1, 'two': 2, 'three': '셋'}

In [18]:
del d['one']
d

{'two': 2, 'three': '셋'}

In [20]:
l = [10, 20, 30]
del l[0]
l

[20, 30]

In [21]:
len(l)
len(d)

2

In [22]:
for i in d:
    print(i)

two
three

In [23]:
for i in d:
    print(i, d[i])

two 2
three 셋

In [25]:
for i, j in d.items():
    print(i, j)

two 2
three 셋

In [ ]:
d.items() #Key, Value 쌍 얻기